


*{
    margin: 0;
    padding: 0;
    font-family:"Inter", sans-serif;
}

nav{
    background-color: #fff;
    padding-block: 1rem;
}

.nav-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gen-layout{
    max-width: 1100px;
    margin: auto;
}

.nav-content > h1{
    text-transform: capitalize;
    font-size: 1.7rem;
}
.nav-content > h1 > span{
    color: red;
}

.nav-right{
    width: 800px;
}

.nav-items{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-items > a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
}
.nav-items > a:nth-child(1){
    color: #467c7f;
    font-weight: 100;
}

.btn-btn{
    padding: .7rem 1rem;
    text-transform: capitalize;
    border-radius: 5px;
    border: none;
    background-color: #034e52;
    color: #fff;
}
/*  styling for hero section */

.hero-sec{
    padding-top: 2rem;
    background: linear-gradient(90deg,#f3f7f7 65%, #034e52 35%);
}

.hero{
 
    /* border: 2px solid; */
    display: flex;
    gap: 4rem;
    align-items: center;
}

.hero-content > h1{
    font-size: 2rem;
    width: 400px;
}

.hero-content > p{
    margin: .6rem 0 2rem;
    font-weight: 600;
}

.hero-btn{
    display: flex;
    gap: 1rem;
}

.hero-btn > button:last-child{
    background-color: transparent;
    border: 1px solid #467c7f;
    color: #467c7f;
}

.hero-image{
    height: 70vh;
    width: 30%;
}

.hero-image > img{
     width: 100%;
     height: 100%;
     object-fit:cover ;
}




/* services styling */
/* .services{
    border: 2px solid;
} */
.selecting-input-option{
    background-color: #fff;
    box-shadow: 2px 5px 3px #f6f6f6;
    padding: 1rem;
    /* border: 2px solid red; */
    gap: 1rem;
    margin: auto;
    max-width: 750px;
    display: flex;
    gap: 1rem;
    align-items: center;
}
select{
    border: none;
    background-color: #f2f6f6;
    padding: 0.4rem;
    width: 200px;
    text-transform: capitalize;
    font-weight: 500;
    border-radius: 2px;
}

.search-input{
    border-radius: 4px;
    background-color: #f2f6f6;
    border: 1px solid #034e52; 
    padding: 0.3rem 0.5rem;
    width: 500px;
    display: flex;
    align-items: center;
} 
.search-input > input{
    padding: 0.4rem 0.6rem;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
} 
.search-input > input::placeholder{
    text-transform: capitalize;
}
.selecting-input-option > button{
    background-color: #034e52;
    border-radius: 7px;
    border: none;
    padding: .4rem 1rem;
    text-transform: capitalize;
    color: white;
}
.service-card-wrapper{
    margin-block: 3rem;
    display: flex;
    justify-content: space-between;
}
.service-card{
    padding-inline: 1rem;
    padding-block: 1.5rem;
    width: 20%;
    /* height: 40vh; */
    background-color: #fff;
    box-shadow: 5px 5px 7px #f6f6f6;
    border-radius: 15px;
}
.service-card:nth-child(2){
    background-color: #034e52;
    color: white;
}
.service-card::nth :nth-child(2) > span{
    background-color: #fff;
}
.service-card > span > img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    background-color: #f2f6f6;
}
 .service-card > h2{ 
    text-transform: capitalize;
    font-size: 22px;
    text-align: center;
}
.service-card > p{
    font-size: 15px;
    font-size: 22px;
    text-align: center;
}

/*  styling for doctors section */

.discover-doctors{
    background-color: #e6edee;
    padding-block: 3rem;
   
}

.discover > h4{
    width: 200px;
    font-weight: 600;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.discover > h4 > span{
    background-color: #034e52;
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discover>h1{
    text-transform: capitalize;
    font-size: 3.5rem;
    text-align: center;
}

.discover-doctors-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2.5rem;
}

.doctor-card{
    height: 30vh;
    background-color: #fff;
    padding: 2rem 1rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.doctor-card > img{
    width: 50%;
    
}

.doctor-card-content{
    width: 50%;
}

.doctor-card-content > h3{
    text-transform: capitalize;
    font-size: 18px;
    width: 200px;
}

.doctor-card-content > ul{
    margin-top: 1rem;
    margin-left: 1rem;
}

.doctor-card-content >ul >li{
    list-style: none;
    padding-bottom: 1rem;
    text-transform: capitalize;
}